

<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name=<%= @assessment.name %>>
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Name</Data></Cell>
        <Cell><Data ss:Type="String">Student Number</Data></Cell>
        <Cell><Data ss:Type="Boolean">Attendance</Data></Cell>
        <Cell><Data ss:Type="Boolean">Task Completed</Data></Cell>
        <Cell><Data ss:Type="Decimal">Mark</Data></Cell>
        <Cell><Data ss:Type="Datetime">Created at</Data></Cell>
        <Cell><Data ss:Type="Datetime">Updated at</Data></Cell>
      </Row>
    <% @students.each do |student| %>
      <Row>
         <Cell><Data ss:Type="String">student.name</Data></Cell>
        <Cell><Data ss:Type="String">student.student_number</Data></Cell>
        <Cell><Data ss:Type="Boolean">student.attendance</Data></Cell>
        <Cell><Data ss:Type="Boolean">student.task_completed</Data></Cell>
        <Cell><Data ss:Type="Decimal">student.mark</Data></Cell>
        <Cell><Data ss:Type="Datetime">student.created_at</Data></Cell>
        <Cell><Data ss:Type="Datetime">student.updated_at</Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>

