<% provide(:title, "About") %>

<h1>About</h1>

<span style="color:#777;font-size: 1.5em;
	letter-spacing: -0.8px;
	margin-bottom: 30px;
	text-align: center;
	font-weight: normal;">
<%= 'The Tutor Management App addresses the need for better management and organization of courses and course tutors. Additionally satisfying the desire for a central point of course communication and resource sharing amongst lecturers, teaching assistants and tutors, and more efficient management of student assessment sessions.' %></span><br><br>
<p>
	<b>The Tutor Management App was created by Subha Singh, BSc. Electrical Engineering (Mechatronics), for her final year project.</b></br>

	<b>Project supervisor:</b> Dr. Simon Winberg<br>
	
	<b>Institution:</b> University of Cape Town, Department of Electrical Engineering<br>
	
	<b>Year:</b> 2015<br>
</p>
	

