<h1>Tutor Management App</h1>

<p>Hi</p>

<p> <%= @user.name %> would like to add you to <%= @course %> course on the Tutor Management App. In order to be added to courses you have to have an existing account. Click on the link below to sign up:</p>

<%= link_to "Tutor Management App Home Page" , 'https://tutor-management-app.herokuapp.com' %><br><br>

